TP_Retention/ReleaseToDev/Web References/CCMSService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://teleperformance.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://teleperformance.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://teleperformance.com/">
      <s:element name="DeleteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XQuery" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XQuery" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataWithSyncOption">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XQuery" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="syncEmployees" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataWithSyncOptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataWithSyncOptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeeByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeByCCMSID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ccmsID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeByCCMSIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeByCCMSIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ccmsId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployeeImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmployeeImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ccmsId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="image" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetEmployeeImageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteDataSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteData" />
  </wsdl:message>
  <wsdl:message name="DeleteDataSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataWithSyncOptionSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataWithSyncOption" />
  </wsdl:message>
  <wsdl:message name="GetDataWithSyncOptionSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataWithSyncOptionResponse" />
  </wsdl:message>
  <wsdl:message name="SetDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetData" />
  </wsdl:message>
  <wsdl:message name="SetDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeByUserId" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeByCCMSIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeByCCMSID" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeByCCMSIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeByCCMSIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeeImage" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeeImageResponse" />
  </wsdl:message>
  <wsdl:message name="SetEmployeeImageSoapIn">
    <wsdl:part name="parameters" element="tns:SetEmployeeImage" />
  </wsdl:message>
  <wsdl:message name="SetEmployeeImageSoapOut">
    <wsdl:part name="parameters" element="tns:SetEmployeeImageResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="DeleteData">
      <wsdl:input message="tns:DeleteDataSoapIn" />
      <wsdl:output message="tns:DeleteDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataWithSyncOption">
      <wsdl:input message="tns:GetDataWithSyncOptionSoapIn" />
      <wsdl:output message="tns:GetDataWithSyncOptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <wsdl:input message="tns:SetDataSoapIn" />
      <wsdl:output message="tns:SetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByUserId">
      <wsdl:input message="tns:GetEmployeeByUserIdSoapIn" />
      <wsdl:output message="tns:GetEmployeeByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByCCMSID">
      <wsdl:input message="tns:GetEmployeeByCCMSIDSoapIn" />
      <wsdl:output message="tns:GetEmployeeByCCMSIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeImage">
      <wsdl:input message="tns:GetEmployeeImageSoapIn" />
      <wsdl:output message="tns:GetEmployeeImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetEmployeeImage">
      <wsdl:input message="tns:SetEmployeeImageSoapIn" />
      <wsdl:output message="tns:SetEmployeeImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteData">
      <soap:operation soapAction="http://teleperformance.com/DeleteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://teleperformance.com/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataWithSyncOption">
      <soap:operation soapAction="http://teleperformance.com/GetDataWithSyncOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <soap:operation soapAction="http://teleperformance.com/SetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByUserId">
      <soap:operation soapAction="http://teleperformance.com/GetEmployeeByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByCCMSID">
      <soap:operation soapAction="http://teleperformance.com/GetEmployeeByCCMSID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeImage">
      <soap:operation soapAction="http://teleperformance.com/GetEmployeeImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmployeeImage">
      <soap:operation soapAction="http://teleperformance.com/SetEmployeeImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteData">
      <soap12:operation soapAction="http://teleperformance.com/DeleteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://teleperformance.com/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataWithSyncOption">
      <soap12:operation soapAction="http://teleperformance.com/GetDataWithSyncOption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <soap12:operation soapAction="http://teleperformance.com/SetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByUserId">
      <soap12:operation soapAction="http://teleperformance.com/GetEmployeeByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByCCMSID">
      <soap12:operation soapAction="http://teleperformance.com/GetEmployeeByCCMSID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeImage">
      <soap12:operation soapAction="http://teleperformance.com/GetEmployeeImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetEmployeeImage">
      <soap12:operation soapAction="http://teleperformance.com/SetEmployeeImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.152.32.43/TPCConfigurationWS/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.152.32.43/TPCConfigurationWS/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>